mixin minorLeaguer(player, isTrade, isTeamOwner)
	include ../columns/vulture

	tr(class="player" _id=player._id)

		-if(isTeamOwner)
			td.extra
				a.hiddenLink(style="cursor:pointer" onclick="expandMinorLeaguer(this, '" + player._id + "')") +
		td(style="padding-left:8px")
			= player.position_txt
		td
			a.name(href="/player/" + player._id)= player.name_display_first_last
		-if(!isTrade)
			-var stats = player.stats[player.stats_index];
			td.center= player.team_abbrev
			td.default.right
				-if(player.primary_position != 1 && stats)
					= stats.ab
				-else
					| -
			td.default.right
				-if(player.primary_position == 1 && stats)
					= stats.ip
				-else
					| -
			td.center
				-if(player.team_id)
					= player.status_code
				-else
					| -
			td.extra.level
			td.extra.stat_ab
			td.extra.stat_hr
			td.extra.stat_r
			td.extra.stat_rbi
			td.extra.stat_sb
			td.extra.stat_obp
			td.extra.stat_w
			td.extra.stat_k
			td.extra.stat_whip
			td.extra.stat_era
			td.extra.stat_sv
			td.extra.stat_ip
			mixin vulture(player, {})
	tr.extraRow(id="ml_actions_" + player._id style="display:none")
		td
		td
		td
		td(colspan="2") Actions:
		td(colspan="2")
			form(action="/player/do?id=" + player._id method="POST" onsubmit="return confirm('You are about to add " + player.name_display_first_last + " to your active roster. Proceed?')")
				input(type="hidden" name="action" value="DROP")
				input(type="hidden" name="returnUrl" value="/team/" + team.teamId)
				input.linkButton.red(type="submit" value="Drop")
		td(colspan="11")
			form(action="/player/do?id=" + player._id method="POST" onsubmit="return confirm('You are about to add " + player.name_display_first_last + " to your active roster. Proceed?')")
				input(type="hidden" name="action" value="PROMOTE_TO_ACTIVE")
				input(type="hidden" name="returnUrl" value="/team/" + team.teamId)
				input.linkButton.green(type="submit" value="Promote to Majors")
	tr(style="display:none")