include teamLink

table(id="myTable")
	thead
		th
		th
			| Team
		th
			| Overall
		th
			| HR
		th
			| RBI
		th
			| R
		th
			| SB
		th
			| OBP
	-each team in teams
		tr
			td
				=team.standing
			td
				mixin teamLink(teamHash[team.team], true)
			td
				=team.points
			td
				=team['HR'].count
			td
				=team['R'].count
			td
				=team['RBI'].count
			td
				=team['SB'].count
			td
				=team['OBP'].count
