mixin team(players, config, displayConfig)

	include player
	
	mixin miniPlayer(position, posText, minCount)
		-var count = 0;
		-minCount = minCount != undefined ? minCount : 1;
		-each player in players[position]
			mixin player(player, posText, displayConfig)
			-count++;
		-while(count < minCount) {
			mixin player(null, posText, displayConfig)
			-count++;
		-}

	-var nextYear = parseInt(config.year) + 1;
	-var thisYearSalaryHeader;
	-var thisYearContractHeader;
	
	-if(displayConfig.showFutureSalary)
		-thisYearSalaryHeader = config.year + " Salary";
		-thisYearContractHeader = config.year + " Contract Year"
	-else
		-thisYearSalaryHeader = "Salary";
		-thisYearContractHeader = "Contract Year";

	table(id='players_' + team.team style="width:100%;border-collapse:collapse;" class="hoverable")
		thead
			th.position Position
			th.playerName Name
			
			th.small= thisYearSalaryHeader
			-if(displayConfig.showFutureSalary)
				th.small= nextYear + " Salary"
			
			th.small= thisYearContractHeader
			-if(displayConfig.showFutureSalary)
				th.small= nextYear + " Contract Year"
			
			-if(displayConfig.showKeeperColumns)
				th.small Select As Keeper
			
			-if(displayConfig.showStatus)
				th.small MLB Status
				th.small Fantasy Status

		tbody
			mixin miniPlayer('catchers', 'C', 2)
			mixin miniPlayer('first_base', '1B')
			mixin miniPlayer('second_base', '2B')
			mixin miniPlayer('third_base', '3B')
			mixin miniPlayer('shortstop', 'SS')
			mixin miniPlayer('middle_infield', '2B/SS')
			mixin miniPlayer('corner_infield', '1B/3B')
			mixin miniPlayer('outfielders', 'OF', 5)
			mixin miniPlayer('utility', 'U')
			mixin miniPlayer('pitchers', 'P', 9)
			mixin miniPlayer('dl', 'DL', 0)
			mixin miniPlayer('minor_leaguers', 'MIN', 0)