mixin teamLink(team, useFullName)
	-if(useFullName)
		-if(team.teamId == 0) 
			= "Free Agent"
		-else
			a.hiddenLink(href="/team/" + team.teamId title=team.team)= team.fullName
	-else
		-if(team.teamId == 0)
			= "FA"
		-else
			a.hiddenLink(href="/team/" + team.teamId title=team.fullName)= team.team