mixin teamLink(team, useFullName)
	-if(useFullName)
		a.hiddenLink(href="/team/" + team.team title=team.team)= team.fullName
	-else
		a.hiddenLink(href="/team/" + team.team title=team.fullName)= team.team