mixin team(players, includeStatus, config)
	include player

	-var nextYear = parseInt(config.year) + 1;
	-var thisYearSalaryHeader;
	-var thisYearContractHeader;
	-if(config.isKeeperPeriod || config.historicalPage)
		-thisYearSalaryHeader = config.year + " Salary";
		-thisYearContractHeader = config.year + " Contract Year"
	-else
		-thisYearSalaryHeader = "Salary";
		-thisYearContractHeader = "Contract Year";

	table(id='players_' + team.team style="width:100%;border-collapse:collapse;")

		thead
			th.position Position
			th.playerName Name
			th.small= thisYearSalaryHeader
			-if(config.isKeeperPeriod && config.isTeamOwner && !config.historicalPage)
				th.small= nextYear + " Salary"
			th.small= thisYearContractHeader
			-if(config.isKeeperPeriod && config.isTeamOwner && !config.historicalPage)
				th.small= nextYear + " Contract Year"
			-if(config.isKeeperPeriod && config.isTeamOwner && !config.historicalPage)
				th.small Select As Keeper
			-if(!config.isOffseason && !config.historicalPage)
				th.small MLB Status
				th.small Fantasy Status
		tbody
			mixin player(players.catchers[0], 'C', includeStatus, config)
			mixin player(players.catchers[1], 'C', includeStatus, config)
			mixin player(players.first_base, '1B', includeStatus, config)
			mixin player(players.second_base, '2B', includeStatus, config)
			mixin player(players.third_base, '3B', includeStatus, config)
			mixin player(players.shortstop, 'SS', includeStatus, config)
			mixin player(players.middle_infield, '2B/SS', includeStatus, config)
			mixin player(players.corner_infield, '1B/3B', includeStatus, config)
			mixin player(players.outfielders[0], 'OF', includeStatus, config)
			mixin player(players.outfielders[1], 'OF', includeStatus, config)
			mixin player(players.outfielders[2], 'OF', includeStatus, config)
			mixin player(players.outfielders[3], 'OF', includeStatus, config)
			mixin player(players.outfielders[4], 'OF', includeStatus, config)
			mixin player(players.utility, 'U', includeStatus, config)
			-each pitcher in players.pitchers
				mixin player(pitcher, 'P', includeStatus, config)
			-if(players.dl != undefined)
				-for(var i = 0; i < players.dl.length; i++)
					mixin player(players.dl[i], 'DL', includeStatus, config)
			-if(players.minor_leaguers != undefined)
				-for(var i = 0; i < players.minor_leaguers.length; i++)
					mixin player(players.minor_leaguers[i], 'MIN', includeStatus, config)