mixin trade(trade, user)
	h3= "Trade Status: " + trade.status
	h3= "Deadline: " + trade.deadline

	table
		thead
			th
				= trade.from.team + " receives:" 
		tbody
			-if(trade.to != undefined)
				-each player in toPlayers
					tr
						td
							= player.name_display_first_last
			-if(trade.cash != undefined)
				-each cash in trade.cash
					-if(cash.to == trade.from.team)
						tr
							td
								= cash.type + " " + cash.year + " " + cash.amount
	
	table
		thead
			th
				= trade.to.team + " receives:" 
		tbody
			-if(trade.from != undefined)
				-each player in fromPlayers
					tr
						td
							= player.name_display_first_last
			-if(trade.cash != undefined)
				-each cash in trade.cash
					-if(cash.from == trade.from.team)
						tr
							td
								= cash.type + " " + cash.year + " " + cash.amount

	-if(user.team == trade.from.team)
		-var buttonAction="cancelTrade('" + trade._id + "')";
		input#cancelButton(type="button" value="Cancel Trade" onclick=buttonAction)
	-else if(trade.status == "PROPOSED")
		-var buttonAction="acceptTrade('" + trade._id + "')";
		input#acceptButton(type="button" value="Accept Trade" onclick=buttonAction)