extends layout

block inlineScripts
	script.
		var getPlayers = function(searchString) {
			var payload = { searchString: searchString };
			$.post("/admin/player/search", payload, function(result) {
				$('#results').empty();
				for(var i = 0; i < result.length; i++) {
					$('#results').append("<li><a href='/admin/player/" + 
						result[i].player_id + "'>" +
						result[i].name_display_first_last + "</a></li>");
				}
			});
		};

		var updateMLB = function() {
			$.get("/admin/mlb/updateAll", function(result) {
				alert(result);
			});
		};		

		var updateESPN = function() {
			$.get("/admin/espn/updateAll", function(result) {
				alert(result);
			});			
		};

		var updateESPNStandings = function() {
			$.get("/admin/espn/updateStandings/2013", function(result) {
				alert(result);
			});
		}

		var orderDraft = function() {
			$.get("/draft/order", function(result) {
				alert(result);
			});
		}

		var updateMLBStats = function() {
			$.get("/player/update/stats", function(result) {
				alert(result);
			});
		}

		$('#name').on('change', function() {
			getPlayers($('#name').val());
		});

block content
	div
		p= message
	
	section(id="left")
		div
			p Vultures
			-each player in openVultures
				form(id="player_"+player.player_id, method="POST", action="/admin/vulture")
					span= player.name_display_first_last
					input#pid(type='hidden', name='pid', value=player.player_id)
					input(type="submit", value="Remove Vulture")
				
		div
			p Add New User
			form(id="signup", method="POST", action="/signup")
				label(for='firstName') First Name
				input#firstName(type='text', name='firstName')
				br
				label(for='lastName') Last Name
				input#lastName(type='text', name='lastName')
				br
				label(for='email') Email
				input#email(type='text', name='email')
				br
				label(for='password') Password
				input#password(type='password', name='password')
				br
				label(for='team') Team
				input#team(type='text' name='team')
				br
				input(type="submit", value="Sign Up")
		div
			p Free Agent Auction
			div
				p Create
				form(id="create_auction", method="POST", action="/gm/faa")
					label(for='faa_id') Name
					input#faa_id(type='number', name='id')
					br
					input(type="submit", value="Create FAA")
				-if(auctions.length > 0)
					p Finish
					p= auctions
		div
			p Create Notification
				form(id="notification", method="POST", action="/admin/notification/create/")
					input(type="hidden", name='team', value="ALL")
					input(type="hidden", name='type', value="BROADCAST")
					input(style="width:200px" type="text", name='message')
					br
					input(type="submit", value="Push Notification")
	section(id="right")
		div
			p Updates
			input(id="updateMLB" type="button" value="Update MLB" onclick="updateMLB()")
			input(id="updateESPN" type="button" value="Update ESPN" onclick="updateESPN()")
			input(id="updateStandings" type="button" value="Update ESPN Standings" onclick="updateESPNStandings()")
			input(id="updateStats" type="button" value="Update MLB Stats" onclick="updateMLBStats()")
		div
			p Minor League Draft
			input(id="orderDraft" type="button" value="Order Draft" onclick="orderDraft()")
		div
			p Search
			label(for='name') Name
			input(id="name" type="text" name="name")
			
		div#results
