extends layout

block inlineScripts
	script.

block content
	section(id="top")
		h1
			a(href="/player/" + player._id)= player.name_display_first_last
		a(href="http://mlb.com/lookup/json/named.player_info.bam?sport_code=%27mlb%27&player_id=" + player.player_id) MLB Properties

	section(id="left")
		//| <script type='text/javascript'>
		//| var data = !{JSON.stringify(player)};
		//| </script>
		-var data = player.toJSON();
		-for(var prop in data) {
			p= prop + " : " + data[prop]
		-}

	section(id="right")
		div
			form(method="POST" action="/admin/player")
				input(type="hidden" name="_id" value=player._id)
				| Key
				input(type="text" name="key")
				| Value
				input(type="text" name="value")
				input(type="submit" value="Add Property")

		div
			form(method="GET" action="/external/update/mlb/" + player._id)
				input(type="submit" value="Update MLB properties")
		br
		div
			form(method="POST" action="/admin/playerToTeam/" + player._id)
				label(for="date") Date
				input(type="text" name="date")
				label(for="team") Team
				input(type="number" name="team")
				input(type="submit" value="Add Player To Team")