extends layout

block inlineScripts
	script.

block content
	section(id="top")
		h1= player.name_display_first_last

	section(id="left")
		//| <script type='text/javascript'>
		//| var data = !{JSON.stringify(player)};
		//| </script>
		-var data = player.toJSON();
		-for(var prop in data) {
			p= prop + " : " + data[prop]
		-}

	section(id="right")
		div
			form(method="POST" action="/admin/player")
				input(type="hidden" name="_id" value=player._id)
				| Key
				input(type="text" name="key")
				| Value
				input(type="text" name="value")
				input(type="submit" value="Add Property")

		div
			form(method="GET" action="/external/update/mlb/" + player._id)
				input(type="submit" value="Update MLB properties")