extends layout

block inlineScripts
	script.
		$(document).ready(function() 
		{ 
			$("#myTable").tablesorter(); 
		} 
		); 

		var removeFromProjection = function(button, playerId) {
			var payload = { playerId : playerId };
			$.post('/draftPreview/player/remove', payload, function(result) {
				$('#player_' + playerId).remove();
				$(button).remove();
				$('#projectedStandings').html(result);
				$("#myTable").tablesorter(); 
			});
		}

block content
	include partials/team
	include partials/teamLink

	section(id="top")
		div
			h1
				mixin teamLink(teamHash[team], true)

	section(id="left" style="width:30%")
		-each player in players
			p(id="player_" + player.playerid)= player.Name
			input(type="button" value="Remove from Projection" onclick="removeFromProjection(this, '" + player.playerid + "')")

	section(id="right")
		div#projectedStandings
			include partials/projectedStandings

