extends layout

block inlineScripts
	script.
		$(document).ready(function() 
		{ 
			$("#myTable").tablesorter({
				sortInitialOrder: 'desc'
			}); 
		} 
		); 

		var removeFromProjection = function(button, playerId) {
			$('#projectedStandings').html("<img src='/public/ajax-loader.gif' />");
			var payload = { playerId : playerId };
			$.post('/draftPreview/player/remove', payload, function(result) {
				$('#player_' + playerId).remove();
				$(button).remove();
				$('#projectedStandings').html(result);
				$("#myTable").tablesorter(); 
			});
		}

		var addToProjection = function() {
			var player = $('#playerSelect').val();
			var team = $('#teamSelect').val();
			var payload = { player : player, team : team };
			$.post('/draftPreview/player/add', payload, function(result) {
				$('#projectedStandings').html(result);
				$("#myTable").tablesorter(); 
			});
		}

block content
	include partials/projectionTeam
	include partials/teamLink

	section(id="top")
		div
			h1
				mixin teamLink(teamHash[team], true)

	section(id="left" style="width:30%")
		p Add player
		select(id="playerSelect")
			-each player in allPlayers
				option(name=player.Name value=player.playerid)= player.Name

		select(id="teamSelect")
			-each team in teams
				option(name=team.team value=team.team)= teamHash[team.team].fullName

		input(type="button" value="Add to Team" onclick="addToProjection()")

		p= teamPlayers.length
		mixin projectionTeam(teamPlayers, true, config)
		//table
		//	-each player in teamPlayers
		//		tr
		//			td(id="player_" + player.playerid)= player.name_display_first_last
		//			td
		//				input(type="button" value="Remove" onclick="removeFromProjection(this, '" + player.playerid + "')")

	section(id="right")
		div#projectedStandings
			include partials/projectedStandings

