extends layout

block content
	include partials/team

	section(id="top")
		h1= team.fullName
		h2= year + " Roster"
	section(id="left")
		-var tempConfig = {};
		-for(var prop in config) {
		-	tempConfig[prop] = config[prop];
		-}
		-tempConfig.isTeamOwner = user != null && user.team == team.team
		-tempConfig.historicalPage = true
		mixin team(players, false, tempConfig)