extends layout

block content
	include partials/team

	section(id="top")
		h1= team.fullName
		h2= year + " Roster"
	section(id="left")
		
		-var displayConfig = {};
		-displayConfig.showKeeperColumns = false;
		-displayConfig.showFutureSalary = false;
		-displayConfig.showStatus = false;

		mixin team(players, config, displayConfig)