extends layout

block content
	include partials/teamLink

	div(style="float:left;padding-right:30px")
		-for(team in teamHash) {
		-	if(teamHash.hasOwnProperty(team)) {
				br
				mixin teamLink(teamHash[team], true)
		-	}
		-}
		

	if user != undefined
		h1= user.firstName
		p
			a(href="/profile") Profile
		p
			a(href="/team/"+user.team) My Team
		p= messages
	else
		h1 Homer At The Bat

