extends layout

block content
	if user != undefined
		h1= user.team
		a(href="/profile") Profile
		p= messages
	else
		h1 Homer At The Bat
	
	br
	-for(var i = 0; i < teams.length; i++) {
	-	var teamName = teams[i].fullName;
	-	var teamCode = teams[i].team;
		br
		a(href="/team/" + teamCode)= teamName
	-}
