extends layout

block content
	if user !== null
		h1 I'm Embarrassed Most By #{user}
		a(href="/logout") Logout
		br
		a(href="/profile") Profile
	else
		h1 Homer At The Bat
		br
		a(href="/login") Login
		br
		a(href="/signup") SignUp
	
	-for(var i = 0; i < teams.length; i++) {
	-	var teamName = teams[i].fullName;
	-	var teamCode = teams[i].team;
		<br>
		a(href="/team/" + teamCode)= teamName
	-}

