doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/public/css/master.css')
		link(href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css')

		block scripts
			script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
			script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
			script(type='text/javascript', src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
			//script(type='text/javascript', src="/socket.io/socket.io.js")

	body
		div(style="float:top")
			div
				p
					a(href="/") Home
					&nbsp;&nbsp;
					-if(user == null)
						a(href="/login") Login
					-else
						a(href="/team/"+user.team) My Team
						&nbsp;&nbsp;
						a(href="/logout") Logout
					&nbsp;&nbsp;
					-if(user != null && user.role == 'admin') 
						a(href="/gm/draft") Draft
						&nbsp;&nbsp;
						a(href="/gm/faa") Free Agent Auction
						&nbsp;&nbsp;
						a(href="/gm/vulture") Vulture
						&nbsp;&nbsp;
						a(href="/admin") Admin
			

		block content
		block inlineScripts
