doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/public/css/master.css')
		link(rel='icon' href='/public/homerFavicon.ico')
		link(href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css')

		block scripts
			script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
			//script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
			script(type='text/javascript', src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")
			script(type='text/javascript', src="/public/jquery.tablesorter.js")
			script(type='text/javascript', src="http://momentjs.com/downloads/moment.min.js")
			script(type='text/javascript', src="/socket.io/socket.io.js")

	body
		div(id="wrapper")
			header
				nav
					ul
						li
							a(href="/") Home
						-if(user == null)
							li
								a(href="/login") Login
						-else
							li
								a(href="/team/"+user.team) My Team
							li
								a(href="/player") Players
							li
								a(href="/gm/faa") Free Agent Auction
							li
								a(href="/gm/watchlist") Watchlist
							li
								a(href="/profile") Profile
							li
								a(href="/logout") Logout
						-if(user != null && user.role == 'admin') 
							li
								a(href="/gm/draft") Draft
							li
								a(href="/gm/vulture") Vulture
							li
								a(href="/admin") Admin
			div(id="core" class="clearfix")
				block content
		block inlineScripts
