extends layout

block inlineScripts
	script.
		var lastSearchTerm;

		var getListFromServer = function(text) {
			lastSearchTerm = text;
			var payload = { text : text };
			$.post('/api/players/filtered/name', payload, function(result) {
				if(result.searchTerm === lastSearchTerm) {
					$('#playerList').html(result.html);
				}
			});
		}

		var textboxChanged = function(textbox) {
			$('#playerList').html("<img src='/public/ajax-loader.gif' />");
			var text = $(textbox).val();
			getListFromServer(text);
		}

		var showAllPlayers = function() {
			$('#playerList').html("<img src='/public/ajax-loader.gif' />");
			getListFromServer('');
		}

		$(document).ready(function() {
			$('#fabContainer').html("<img src='/public/ajax-loader.gif' />");
			$('#fapContainer').html("<img src='/public/ajax-loader.gif' />");

			$.get('/api/players/freeAgents', function(result) {
				$("#fabContainer").html(result.batterHtml);
				$("#fapContainer").html(result.pitcherHtml);

				var options = { widgetOptions: { stickyHeaders : '', stickyHeaders_attachTo : '.widget' }};
				$("#freeAgentBatters").tablesorter(options); 
				$("#freeAgentPitchers").tablesorter(options); 
			})

			$('#tabs').tabs();
		});

block content

	section(id="top")
		span#pageTitle Players
	section(id="left" style="width:100%")
		div#tabs(style="width:67%;display:inline-block;vertical-align:top")
			ul
				li(style="display: table-cell;padding:5px")
					a.hiddenLink(href="#batters") Batters
				li(style="display: table-cell;padding:5px")
					a.hiddenLink(href="#pitchers") Pitchers
			
			label(for="facb") Free Agents
			input#facb(type="checkbox" onclick="alert('hi')")

			div#batters(style="vertical-align:top")
				div.widget
					h2 Free Agent Batters - 2014 Stats
					p (Hint: Click Column Header to Sort)
					div#fabContainer(style="max-height:500px;overflow-y:scroll;")
						
			div#pitchers(style="vertical-align:top")
				div.widget
					h2 Free Agent Pitchers - 2014 Stats
					p (Hint: Click Column Header to Sort)
					div#fapContainer(style="max-height:500px;overflow-y:scroll;")

		div(style="width:33%;display:inline-block;vertical-align:top")
			div.widget
				h2 Search By Name
				p (Hint: If the search looks wrong, hit enter)
				input(type="button" value="Show All Players" onclick="showAllPlayers()" style="margin-bottom:15px")
				input(id="filterBox" type="text" style="width:75%" onkeyup="textboxChanged(this)")
				div#playerList
					
		div
			-if(user && user.role == 'admin')
				div(style="width:50%;display:inline-block;vertical-align:top")
					div.widget
						h2 Players Missing ESPN Id's
						table
							-each player in playersMissingESPN
								-if(player.history[0] && player.history[0].fantasy_team != 0)
									tr
										td
											a.name(href="/player/"+player._id)= player.name_display_first_last
										td= player.espn_player_name
										td= teams[player.history[0].fantasy_team].fullName
										td
											a.name(href="/admin/player/" + player._id)= "Admin"