extends layout

block content
	include partials/teamLink

	section(id="top")
		h1= player.name_display_first_last
		h3= player.position_txt + " - " + player.team_name

	section(id="left" style="width:520px")
		img(src="http://mlb.mlb.com/images/players/525x330/" + player.player_id + ".jpg")
		| Current Team: 
		mixin teamLink(teamHash[player.fantasy_team], true)

		-if(player.history[0].locked_up)
			p= "Locked up through "

	section(id="right")
		table
			thead
				th Year
				th Draft Team
				th Keeper Team
				th Salary
				th Contract Year
			tbody
				-each year in player.history
					tr
						td= year.year
						td
							= year.draft_team == undefined || year.draft_team == '' ? "-" : year.draft_team
						td
							= year.keeper_team == undefined || year.keeper_team == '' ? "-" : year.keeper_team
						td.number
							= year.salary == 0 ? "-" : year.salary
						td.number
							= year.contract_year == 0 || year.contract_year == undefined ? "-" : year.contract_year
						-if(year.minor_leaguer)
							td
								| Minor Leaguer