extends layout

block content

	section(id="top")
		span#pageTitle Profile

		div.widget
			h2= user.firstName + " " + user.lastName

	section(id="left" style="width:50%")
		
		div.widget
			p(style="margin-right:40px")= "Team: "
				a(href="/team/"+team.teamId style="display:inline-block")= team.fullName
			p(style="padding-right:20px")= "E-mail: " + user.email

		div.widget
			h2 Change Password
			form(id="changePassword", method="POST", action="/user/changePassword")
				div
					p(style="width:180px;display:inline-block") Old Password:
					input#old(type='password', name='old')
				div(style="margin-top:-20px")
					p(style="width:180px;display:inline-block") New Password:
					input#new_pw(type='password', name='new_pw')
				div(style="margin-top:-20px")
					p(style="width:180px;display:inline-block") Re-enter New Password:
					input#new_confirm(type='password', name='new_confirm')
				input(type="submit", value="Change Password")

	section(id="right" style="width:50%")
		div.widget
			h2 Change Team Name
			form(id="changeTeamName" method="POST" action="/user/changeTeamName")
				div
					p(style="width:150px;display:inline-block") New Full Name:
					input(type="text" style="width:200px" required="true" name="newName")
				div
					p(style="width:150px;display:inline-block") New Abbreviation:
					input(type="text" style="width:100px" required="true" name="newAbbreviation")
				input(type="submit" value="Change Name")