extends layout

block content

	p= myMessage

	h1= user.firstName + " " + user.lastName
	
	p Team
	a(href="/team/"+team.team)= team.fullName
	
	p E-mail
	p= user.email

	p Change Password
	form(id="changePassword", method="POST", action="/user/changePassword")
		label(for='old') Old Password
		input#old(type='password', name='old')
		br
		label(for='new_pw') New Password
		input#new_pw(type='password', name='new_pw')
		br
		label(for='new_confirm') Re-enter New Password
		input#new_confirm(type='password', name='new_confirm')
		br
		input(type="submit", value="Change Password")


