extends layout

block inlineScripts
	script.

		var hasItChanged = function(row, stat, _class) {
			var old = row.find('.' + _class).text();
			if(!old || old != stat) {
				row.find('.' + _class).text(stat);
				row.find('.' + _class).effect('highlight', { color : 'green' }, 1000)
			}
		}

		var getStats = function() {
			$.get("/stattracker/update/" + team.teamId, function(players) {
				players.forEach(function(p) {
					var stats = p.dailyStats;
					var row = $('[id^="player_' + p._id + '"]');
					if(stats) {
						hasItChanged(row, stats.ab, 'cat_ab');
						hasItChanged(row, stats.hr, 'cat_hr');
						hasItChanged(row, stats.rbi, 'cat_rbi');
						hasItChanged(row, stats.obp, 'cat_obp');
						hasItChanged(row, stats.r, 'cat_br');
						var pitcherR = stats.r + "/" + stats.er;
						hasItChanged(row, pitcherR, 'cat_pr');
						hasItChanged(row, stats.w, 'cat_w');
						hasItChanged(row, stats.sv, 'cat_sv');
						hasItChanged(row, stats.so, 'cat_so');
						hasItChanged(row, stats.ip, 'cat_ip');
						hasItChanged(row, stats.era, 'cat_era');
						hasItChanged(row, stats.whip, 'cat_whip');
						hasItChanged(row, stats.h2b, 'cat_h2b');
						hasItChanged(row, stats.h3b, 'cat_h3b');
						var walks = stats.bb + "/" + stats.ibb + "/" + stats.hbp;
						hasItChanged(row, walks, 'cat_bb');
						hasItChanged(row, stats.so, 'cat_so');
						var sacs = parseInt(stats.sac) + parseInt(stats.sf);
						hasItChanged(row, sacs, 'cat_sac');
						var sbs = stats.sb + "/" + stats.cs;
						hasItChanged(row, sbs, 'cat_sb');
						var goao = stats.go + "/" + stats.ao;
						hasItChanged(row, goao, 'cat_goao');
						hasItChanged(row, stats.np, 'cat_np');
						hasItChanged(row, stats.h, 'cat_h');
						hasItChanged(row, stats.whip, 'cat_whip');
					}
				});
			});
		}

		$(document).ready(function() {
			getStats();
			setInterval(function() {
				getStats();
			}, 60000);
		});

block content

	mixin batter(player, game)
		-if(game)
			td.cat_ab
			td.cat_br
			td.cat_h2b
			td.cat_h3b
			td.cat_hr
			td.cat_rbi
			td.cat_bb
			td.cat_so
			td.cat_sac
			td.cat_obp
			td.cat_sb
			td.cat_goao
		-else
			-var count = 0;
			-while(count < 12) {
				td
				-count++;
			-}

	mixin pitcher(player, game)
		-if(game)
			td.cat_ip
			td.cat_np
			td.cat_h
			td.cat_bb
			td.cat_whip
			td.cat_so
			td.cat_goao
			td.cat_hr
			td.cat_pr
			td.cat_era
			td.cat_w
			td.cat_sv
		-else
			-var count = 0;
			-while(count < 6) {
				td
				-count++;
			-}
	
	mixin miniPlayer(position, posText, minCount)
		-var count = 0;
		-minCount = minCount != undefined ? minCount : 1;
		-each player in players[position]
			-var game = undefined;
			-each g in games
				-if(player.team_id == g.awayTeamId || player.team_id == g.homeTeamId) {
					-game = g;
				-}
			tr(id="player_" + player._id)
				td(style="text-align:left")= posText
				td(style="text-align:left")= player.name_display_first_last
				-if(game)
					td(style="text-align:center")
						a(target="_blank" href="http://mlb.mlb.com/mlb/gameday/index.jsp?gid=" + game.gameday)
							= game.awayTeamName + " @ " + game.homeTeamName + ", " + moment(game.timeDate).format("h:mm")
				-else
					td
				-if(player.primary_position != 1)
					mixin batter(player, game)
				-else
					mixin pitcher(player, game)
			-count++;
		-while(count < minCount) {
			tr
				td= posText
				td -
			-count++;
		-}

	div
		span#pageTitle StatTracker
	div.widget
		table.statsTable(id='players_' style="width:100%;border-collapse:collapse;" class="hoverable")
			thead
				th.position Position
				th.playerName(style="text-align:left;width:20%") Name
				th(style="text-align:left;width:15%") Game
				th AB
				th R
				th 2B
				th 3B
				th HR
				th RBI
				th BB/IBB/HBP
				th K
				th SAC
				th OBP
				th SB/CS
				th GO/AO

			tbody
				mixin miniPlayer('catchers', 'C', 2)
				mixin miniPlayer('first_base', '1B')
				mixin miniPlayer('second_base', '2B')
				mixin miniPlayer('third_base', '3B')
				mixin miniPlayer('shortstop', 'SS')
				mixin miniPlayer('middle_infield', '2B/SS')
				mixin miniPlayer('corner_infield', '1B/3B')
				mixin miniPlayer('outfielders', 'OF', 5)
				mixin miniPlayer('utility', 'U')
				//mixin miniPlayer('dl', 'DL', 0)
				mixin miniPlayer('bench', 'BENCH', 0)
	div.widget
		table.statsTable(id='players_' style="width:100%;border-collapse:collapse;" class="hoverable")
			thead
				th.position Position
				th.playerName(style="text-align:left;width:20%") Name
				th(style="text-align:center;width:15%") Game
				th.number IP
				th.number P
				th.number H
				th.number BB/IBB/HBP
				th.number WHIP
				th.number K
				th.number GO/AO
				th.number HR
				th.number R/ER
				th.number ERA
				th.number W
				th.number SV

			tbody
				mixin miniPlayer('pitchers', 'P', 9)

	| <script type="text/javascript" >
	| var team = !{JSON.stringify(team)};
	| </script>