extends layout

block inlineScripts
	script.
		$(document).ready(function() {
			$.get("/stattracker/linescore2/" + team.teamId, function(response) {
				$('#hidden').append(response.html);
				$('.webbies').quicksand( $('#hidden').find('li'), { adjustHeight: 'dynamic' } );
			});
		});

block content
	include partials/stattrackerDiv

	div#hidden

	| <script type="text/javascript" >
	| var team = !{JSON.stringify(team)};
	| var players = !{JSON.stringify(unsortedPlayers)};
	| </script>