extends layout

block inlineScripts
	script.
		var doIt = function() {
			$.get("/stattracker/linescore2/" + team.teamId, function(response) {
				$('.preview').quicksand( $(response.html).find('.preview li'), { adjustHeight: 'dynamic', adjustWidth: false, retainExisting: false } );
				$('.inProgress').quicksand( $(response.html).find('.inProgress li'), { adjustHeight: 'dynamic', adjustWidth: false, retainExisting: false } );
				$('.final').quicksand( $(response.html).find('.final li'), { adjustHeight: 'dynamic', adjustWidth: false, retainExisting: false } );
				var players = $.merge(response.inProgressPlayers, response.previewPlayers);
				players = $.merge(players, response.finalPlayers);
				players.forEach(function(p) {
					$('[data-id="' + p.player_id + '"] .battersTillUp').text(p.battersTillUp);
				});
			});
		}

		$(document).ready(function() {
			doIt();
			setInterval(function() {
				doIt();
			}, 120000);
		});

block content
	include partials/stattrackerDiv

	| <script type="text/javascript" >
	| var team = !{JSON.stringify(team)};
	| var players = !{JSON.stringify(unsortedPlayers)};
	| </script>