extends layout

block content

	div(style="width:100%;position:relative")
		div.widget#left(style="position:absolute;display:inline-block;")
			h2 Golub
		div.widget#right(style="position:absolute;display:inline-block;width:50%;right:0")
			p Ari
			table
				thead
					th Ari
					th Ari
					th Ari
				tbody
					tr
						td Golub
						td Golub
						td Golub
					tr
						td Golub
						td Golub
						td Golub
					tr
						td Golub
						td Golub
						td Golub
					tr
						td Golub
						td Golub
						td Golub