extends layout
block inlineScripts
	script.
		var acceptTrade = function(tid) {
			$("#acceptButton").attr("disabled", "disabled");
			
			$.get("/gm/trade/accept/" + tid, function(response) {
				alert(response);
			});
		};

block content
	include partials/trade

	mixin trade(trade)