extends layout
block inlineScripts
	script.
		var payload = { from : [], to : [] };
		var curTradeObj = {};

		var addObj = function(p, hash) {
			addObjHelper($(p).text());
			if(hash) {
				for(var key in hash) {
					curTradeObj[key] = hash[key];
				}
			}
		}

		var addObjHelper = function(text) {
			var addObjText = text;
			var curTradeElem = $('p#curText');
			var curTradeText = curTradeElem.text();
			var newText;
			if(addObjText.match(/(^\d{1}$|\$)/)) {
				newText = curTradeText + addObjText;
			} else if(curTradeText.length == 0) {
				newText = addObjText;
			} else {
				newText = curTradeText + ' ' + addObjText;
			}
			curTradeElem.text(newText);
		}

		var removeText = function(t) {
			var curTradeElem = $('p#curText');
			curTradeElem.text('');

			curTradeObj = {};
		}

		var addTo = function(team) {
			var curTradeText = $('p#curText').text();

			var draftPickPattern = /(^(Rights to swap )?(1st|2nd|3rd|[456789]th|10th) round draft pick in 20[0-9][0-9])|(20[0-9][0-9] (1st|2nd|3rd|[456789]th|10th) round draft pick)/g;
			var cashPattern = /(\$\d+|\d+\$) (of|in) 20[0-9][0-9] (MLB|Free Agent Auction)( draft)? cash/g;
			var cashPattern2 = /(\$\d+|\d+\$) of (MLB|Free Agent Auction)( draft)? cash in 20[0-9][0-9]/g;
			
			var draftPickMatch = curTradeText.match(draftPickPattern);
			var cashMatch = curTradeText.match(cashPattern) || curTradeText.match(cashPattern2);

			if(draftPickMatch || cashMatch) {
				var addBlock = $('#' + team + 'TradeObj');
			
				var newObj = $('#dummyTradeObj').clone();
				newObj.find('p').text(curTradeText);
				newObj.css('display','');
				addBlock.append(newObj);

				payload[team].push(curTradeObj);

				removeText();
			}
		}

		var removeObj = function(obj) {
			$(obj).parent().remove();
		}

block content

	section(id="top" style="width:600px")
		div(id="addedTradeObjects" style="min-height:250px")
			div(id='fromTradeObj' style='vertical-align:top;display:inline-block;width:50%')
				p(style="text-align:center")= from.team + " Receives:"
			div(id='toTradeObj' style='vertical-align:top;display:inline-block;width:50%')
				p(style="text-align:center")= to.team + " Receives:"

	section(id="left" style="width:800px")
		div(id="curText")
			input(type="button" onclick='removeText(this);' value="Clear")
			input(type="button" onclick='addTo("to");' value="Add To " + from.team)
			input(type="button" onclick='addTo("from");' value="Add To " + to.team)
			p(id="curText" style="background:grey;height:40px;padding-left:10px;width:500px;line-height:200%")

		div(style="text-align:center")
			div(class="tradeObjectContainer" style="font-size:20px")
				div(class="tradeObject" style="width:170px;" onclick='addObj(this, {swap:true});') Rights to swap
				div(class="tradeObject" style="width:170px;" onclick='addObj(this, {type:"PICK"});') round draft pick
				div(class="tradeObject" style="width:170px;" onclick='addObj(this, {type:"MLB"});') MLB draft cash
				div(class="tradeObject" style="width:200px;" onclick='addObj(this, {type:"FA"});') Free Agent Auction cash
			-var years = [];
			-for(var i = 0; i < 5; i++) {
			-	years.push(year+i);
			-}
			div(class="tradeObjectContainer" style="font-size:30px")
				-each y  in years
					div(class="tradeObject" style="width:100px;" onclick='addObj(this, {year:'+y+'});')
						= y
			div(class="tradeObjectContainer" style="font-size:30px")
				div(class="tradeObject" style="width:50px;" onclick='addObj(this);')= "$"	
				-for(var i = 0; i < 10; i++)
					div(class="tradeObject" style="width:50px;" onclick='addObj(this, {amount:'+i+'});')= i
			div(class="tradeObjectContainer" style="font-size:25px")
				div(class="tradeObject" style="width:60px;" onclick='addObj(this, {round:1});') 1st
				div(class="tradeObject" style="width:60px;" onclick='addObj(this, {round:2});') 2nd
				div(class="tradeObject" style="width:60px;" onclick='addObj(this, {round:3});') 3rd
				div(class="tradeObject" style="width:60px;" onclick='addObj(this, {round:4});') 4th
				div(class="tradeObject" style="width:60px;" onclick='addObj(this, {round:5});') 5th
				div(class="tradeObject" style="width:60px;" onclick='addObj(this, {round:6});') 6th
				div(class="tradeObject" style="width:60px;" onclick='addObj(this, {round:7});') 7th
				div(class="tradeObject" style="width:60px;" onclick='addObj(this, {round:8});') 8th
				div(class="tradeObject" style="width:60px;" onclick='addObj(this, {round:9});') 9th
				div(class="tradeObject" style="width:60px;" onclick='addObj(this, {round:10});') 10th
			div(class="tradeObjectContainer" style="font-size:30px")
				div(class="tradeObject" style="width:170px;" onclick='addObj(this);') of
				div(class="tradeObject" style="width:170px;" onclick='addObj(this);') in

	div(id="dummyTradeObj" style="display:none")
		p(style="display:inline-block;margin-right:30px")
		input(type="button" value="Remove" onclick="removeObj(this);")