extends layout

block inlineScripts
	script.

block content

	section(id="top")
		div
			p= message
			h1 Trades

	section(id="left")

		div
			-var incomingTrades = tradeModel.getTradesByDirection(user.team, trades, 'proposedBy');
			table
				
			-each t in incomingTrades
				p= t
				form(method="POST" action="/trade/accept")
					input(type="hidden" name="tradeId" value=t._id)
					input(type="submit" value="Accept Trade")