extends layout
block inlineScripts
	script.
		var submitTrade = function() {
			var fromTeam = JSON.parse($('[id^=team]').eq(0).val()).team;
			var toTeam = JSON.parse($('[id^=team]').eq(1).val()).team;
			var fromTeamPlayers = [];
			var fromTeamAssets = [];
			var toTeamPlayers = []; 
			var toTeamAssets = [];
			$('[id^=players]').eq(0).find('input:checked').each(function(index, obj) { fromTeamPlayers.push(obj.value); });
			$('[id^=assets]').eq(0).find('input:checked').each(function(index, obj) { fromTeamAssets.push(obj.value); });
			$('[id^=players]').eq(1).find('input:checked').each(function(index, obj) { toTeamPlayers.push(obj.value); });
			$('[id^=assets]').eq(1).find('input:checked').each(function(index, obj) { toTeamAssets.push(obj.value); });
			var payload = {
				from: {
					team: fromTeam,
					players: fromTeamPlayers,
					assets: fromTeamAssets
				},
				to: {
					team: toTeam,
					players: toTeamPlayers,
					assets: toTeamAssets
				}
			};
			$.post("/gm/trade", payload, function(result) {
				alert('got em');
			});
		}

block content
	include partials/team
	include partials/assets
	div
		input(type="submit" onclick="submitTrade()" value="Submit Trade")
		div(style="float:left")
			mixin team(from_team, from_players, true, 2013)
			mixin assets(from_assets, true)
		div(style="float:left")
			mixin team(to_team, to_players, true, 2013)
			mixin assets(to_assets, true)