extends layout

block content
	include partials/team

	section(id="top")
		p= vulture_message
		h2= 'Vulturing: ' + player.name_display_first_last

	section(id="left")
	-var actionString = "/gm/vulture/" + player._id;
	form(id="vulture" method="POST" action=actionString)
		input(type="submit" value="Submit Vulture")
		br
		|Select a player to give up:
		br

		-var displayConfig = {};
		-displayConfig.showKeeperColumns = false;
		-displayConfig.showFutureSalary = false;
		-displayConfig.showStatus = false;
		-displayConfig.addVultureButton = true;

		div(style="width:50%")
			mixin team(players, config, displayConfig)