extends layout

block inlineScripts
	script.
		var selectVultureGiveUp = function(name) {
			$('#playerName').text(name);
		}
block content
	include tables/activeRoster

	span#pageTitle Vultures

	section(id="top")
		p= vulture_message

	section(id="left")
		div.widget(style="width:100%")
			h2= 'Vulturing: ' + player.name_display_first_last
			-var actionString = "/gm/vulture/" + player._id;
			form(id="vulture" method="POST" action=actionString)
				input(type="submit" value="Submit Vulture")
				br
				br
				|Select a player to give up:
				span#playerName(style="padding-left:20px")
				br

				-var displayConfig = {};
				-displayConfig.showKeeperColumns = false;
				-displayConfig.showFutureSalary = false;
				-displayConfig.showStatus = true;
				-displayConfig.addVultureButton = true;

				div
					mixin activeRoster(players, config, displayConfig)