body {
	background: #313145;
	color: white;
	font: 18px "Dosis", sans-serif; 
	margin: 0px;
	min-height: 100%;
}
a {
	color: white;
}

nav {
	display: block;
	margin-bottom: 10px;
}
div.header {
	background: #282838;
	padding: 1px;
}
div.header ul {
	list-style: none;
	font-size: 14px;
	-webkit-padding-start: 0px;
}
div.header ul li {
	display: table-cell;
	width: 1%;
}
div.header ul li a {
	padding: 3px 3px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	display: block;
}
div.header ul li a:hover {
	#background: #deff90;
	#color: #485e0f;
	background : white;
	color : #313145;
	font: 22px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0;
	text-decoration: none;
}

div.header ul li a span {
	background: red;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 5px;
}

/* page core */
div#core {
	display: block;
	clear: both;
	margin-bottom: 20px;
	min-width: 1150px;
	padding: 16px;
	margin-left: 50px;
	margin-right: 50px;
}

section#top {
	margin-bottom: 10px;
}

section#left {
	width:70%;
	float: left;
	height: 100%;
}
section#right {
	width:30%;
	float: left;
	height: 100%;
}
 
/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
table.hoverable thead tr:hover {
	background: #282838;
}
table.hoverable tr:hover{
	background:#222230;
}
table {
	border-collapse: collapse;
}
th {
	border-bottom: 1px solid white;
}
tbody {
	padding-top:10px;
}
th.position {
	width:80px;
}
th.small {
	font-size:15px;
	width:70px;
}
th.playerName {
	min-width: 100px;
}
td.number {
	text-align: right;
	margin-right:5px;
}
td.status {
	text-align: center;
}
td.team {
	text-align: center;
}
th {
	margin-bottom: 5px;
}
td, th {
	padding: 2px 7px 2px 7px;
}
.smallNote {
	font-size: 15px;
}
.name {
	text-decoration: none;
}
.name:hover {
	text-decoration: underline;
}

.hiddenLink {
	text-decoration: none;	
}
.hiddenLink:hover {
	text-decoration: underline;
}

li.notification p{
	display: inline;
	cursor: auto;
}
li.notification p:nth-child(2) {
	cursor: pointer;
	padding-left:20px;
}

.tradeObjectContainer {
	margin: 20px 0px 20px 0px;
}

.tradeObject {
	display:inline;
	padding: 5px 20px;
	cursor: pointer;	
	text-align: center;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tradeObject:hover {
	background: blue;	
}

.box-table-a
{
	margin: 20px;
	text-align: left;
	border-collapse: collapse;
}
.box-table-a th
{
	padding: 8px;
	background: #83838F;
	border-top: 4px solid #83838F;
	color: #039;
}
.box-table-a td
{
	padding: 2px 8px 2px 2px;	
	background: #464658;
	border-bottom: 1px solid gray;
	border-top: 1px solid transparent;
}
.box-table-a tr:hover td
{
	background: #d0dafd;
	color: black;
}
.box-table-a tr:hover a
{
	background: #d0dafd;
	color: black;
}

p.longText {
	letter-spacing:1px;
}

tr.tradeRow td {
	vertical-align:top;
	padding-top: 5px;
	padding-bottom: 10px;
}

.widget {
	border-radius: 13px;
	padding: 1px 20px 10px 20px;
	background: #282838;
	margin: 10px;
}

.widget h2 {
	margin-top: 8px;
}

table.stats td {
	text-align: center;
}

span#pageTitle {
	font-size:40px;
	margin: 10px;
	padding: 10px;
}

#messageBox {
	background: green;
}

#messageBox.fail {
	background: darkred;
}

#messageBox p {
	margin: 0;
	padding: 8px;
	text-align: center;
}