body {
	background: #313145;
	color: white;
	font: 18px "Dosis", sans-serif; 
}
a {
	color: white;
}
header {
	width: 100%;
}
nav {
	display: block;
	margin-bottom: 10px;
}
nav ul {
	list-style: none;
	font-size: 14px;
	-webkit-padding-start: 0px;
}
nav ul li {
	display: table-cell;
	width: 10%;
}
nav ul li a {
	padding: 3px 6px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	display: block;
}
nav ul li a:hover {
	background: #deff90;
	color: #485e0f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 6px;
	margin: 0;
	text-decoration: none;
}
div#wrapper {
	padding: 16px;
	margin-left: 50px;
	margin-right: 50px;
}
/* page core */
div#core {
	display: block;
	clear: both;
	margin-bottom: 20px;
	min-width: 1150px;
}
section {
	margin: 0 15px;
}
section#left {
	width: 700px;
	float: left;
	height: 100%;
}
section#right {
	float: left;
	height: 100%;
}

 
/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
th.position {
	width:80px;
}
th.small {
	font-size:15px;
}
th.playerName {
	min-width: 100px;
}
td.number {
	text-align: right;
	margin-right:5px;
}
td.status {
	text-align: center;
}
td, th {
	padding: 0px 5px 0px 5px;
}
.smallNote {
	font-size: 15px;
}
.name {
	text-decoration: none;
}
.name:hover {
	text-decoration: underline;
}

.hiddenLink {
	text-decoration: none;	
}
.hiddenLink:hover {
	text-decoration: underline;
}

li.notification p{
	display: inline;
	cursor: auto;
}
li.notification p:nth-child(2) {
	cursor: pointer;
	padding-left:20px;
}

.tradeObjectContainer {
	margin: 20px 0px 20px 0px;
}

.tradeObject {
	display:inline;
	padding: 5px 20px;
	cursor: pointer;	
	text-align: center;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tradeObject:hover {
	background: blue;	
}

.box-table-a
{
	margin: 20px;
	text-align: left;
	border-collapse: collapse;
}
.box-table-a th
{
	padding: 8px;
	background: #83838F;
	border-top: 4px solid #83838F;
	color: #039;
}
.box-table-a td
{
	padding: 2px 8px 2px 2px;	
	background: #464658;
	border-bottom: 1px solid gray;
	border-top: 1px solid transparent;
}
.box-table-a tr:hover td
{
	background: #d0dafd;
	color: black;
}
.box-table-a tr:hover a
{
	background: #d0dafd;
	color: black;
}

p.longText {
	letter-spacing:1px;
}